
    .login,
    .create-accountcard {

        width: 100%;

        max-width: 450px;
        margin: 80px auto;

        border-radius: 28px;

        overflow: hidden;

        background: white;

        box-shadow:
            0 15px 40px rgba(0, 0, 0, 0.08);

    }
    .loade {
        width: 70px;
        position: static;
        text-align: center;
       
    }

    .nav,
    .create-accountT {

        background:linear-gradient(135deg,
                #111111,
                #1D1D1F,
                #2C2C2E);

        padding: 40px;

        text-align: center;

    }

    .login-title,
    .create-account-title {

        font-size: 36px;

        color: white;

        font-weight: 700;

    }

    .login-form,
    .create-account-form {

        display: flex;

        flex-direction: column;

        gap: 20px;

        padding: 40px;

    }

    .login-form input,
    .create-account-form input {

        width: 100%;

        padding: 16px 20px;

        border-radius: 16px;

        border:
            1px solid #D2D2D7;

        outline: none;

        font-size: 16px;

        transition: 0.3s ease;

    }

    .login-form input:focus,
    .create-account-form input:focus {

        border-color: linear-gradient(135deg,
                #111111,
                #1D1D1F,
                #2C2C2E);

        box-shadow:
            0 0 0 4px rgba(0, 113, 227, 0.12);

    }

    .login-form button,
    .create-account-button {

        width: 100%;
        max-height: 60px;

        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

        border-radius: 16px;

        background: linear-gradient(135deg,
                #111111,
                #1D1D1F,
                #2C2C2E);

        color: white;

        font-size: 18px;

        font-weight: 600;

        cursor: pointer;

        transition: 0.3s ease;

    }

 
    .create-account-button:hover {

        background:linear-gradient(135deg,
                #111111,
                #1D1D1F,
                #2C2C2E);
        transform:
            translateY(-2px);

    }

    .or {

        text-align: center;

        color: #86868B;

    }

    .create-account,
    .login-link {

        text-decoration: none;
        text-align: center;

        color: rgb(109, 109, 109);

        font-weight: 600;

    }

    .create-account:hover,
    .login-link:hover {

        text-decoration: underline;

    }