* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-blue: #0071E3;
    --primary-hover: #0058B0;

    --bg-light: #F5F5F7;

    --card-bg: #FFFFFF;

    --text-dark: #1D1D1F;

    --text-muted: #6E6E73;

    --border-color: #D2D2D7;

    --shadow-soft:
        0 10px 40px rgba(0, 0, 0, 0.06);

}

body {

    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "SF Pro Display",
        "Segoe UI",
        sans-serif;

    background:
        linear-gradient(to bottom,
            #f5f5f7,
            #ececf0);

    color: var(--text-dark);

    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;

}

/* NAVBAR */

.homenav {

    display: flex;

    justify-content: space-between;

    align-items: center;

    width: 100%;

    height: 70px;

    padding: 0 5%;

    position: sticky;

    top: 0;

    z-index: 1000;

    background:
        rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);


    border-bottom:
        1px solid rgba(255, 255, 255, 0.3);

    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.04);

}

.home-title {

    font-size: 2rem;

    font-weight: 700;

    letter-spacing: -1px;

    color: #1D1D1F;

}

.home-links {

    list-style: none;

    display: flex;

    gap: 35px;

}

.home-link,
.logout-btn {

    text-decoration: none;

    color: #6E6E73;

    font-size: 15px;

    font-weight: 500;

    transition: 0.3s ease;

    background: none;

    border: none;

    cursor: pointer;

}

.home-link:hover,
.logout-btn:hover {

    color: #000000;

}

/* MAIN */

.home-main {

    display: flex;

    flex-direction: column;

    align-items: center;

    padding: 50px 20px;

    gap: 80px;

}

/* HERO CARD */

.home-main-content {

    width: 100%;

    max-width: 1150px;

    border-radius: 32px;
    height: 650px;

    overflow: hidden;

    background:
        rgba(255, 255, 255, 0.75);

    backdrop-filter: blur(20px);

    -webkit-backdrop-filter: blur(20px);

    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.08);

}

/* HERO TOP */

.home-search-nav-container {

    background:
        linear-gradient(135deg,
            #111111,
            #1D1D1F,
            #2C2C2E);

    padding: 35px;

    text-align: center;

}

.home-subtitle {

    font-size: 42px;

    color: white;

    font-weight: 700;

    letter-spacing: -1.5px;

}

/* HERO CONTENT */

.home-main-content-search {

    padding: 35px 35px 10px;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 22px;

}

/* SEARCH BAR */

.home-search-container {

display:flex;

width:100%;

background:white;

border-radius:20px;

overflow:visible;

position:relative;

z-index:10;

}
.autocomplete{

position:relative;

flex:1;

}
.autocomplete-dropdown{

position:absolute;

top:110%;

left:0;

width:100%;

background:white;

border-radius:18px;

max-height:250px;

overflow-y:auto;

box-shadow:
0 15px 35px rgba(0,0,0,0.12);

z-index:9999;

padding:8px;

border:1px solid #ececec;

}

.home-search-container:focus-within {

    transform: translateY(-2px);

    box-shadow:
        0 15px 35px rgba(0, 113, 227, 0.12);

}

.home-search-container input {

    flex: 1;

    padding: 20px;

    border: none;

    outline: none;

    border-right:
        1px solid #ececec;

    background: transparent;

    font-size: 15px;

    font-weight: 500;

    color: #1D1D1F;

}

.home-search-container input:hover {

    background:
        rgba(0, 0, 0, 0.02);

}

.home-search-container input::placeholder {

    color: #86868B;

}

.home-search4 {

    border-right: none !important;

}

/* HERO TEXT */

.home-search-text {

    font-size: 15px;

    color: #6E6E73;

    text-align: center;

    max-width: 650px;

    line-height: 1.7;

}

/* SEARCH BUTTON */

.home-search-button {

    width: 140px;

    height: 52px;

    border: none;

    border-radius: 40px;

    cursor: pointer;

    color: white;

    font-size: 20px;

    background:
        linear-gradient(135deg,
            #1D1D1F,
            #2C2C2E,
            #3A3A3C);

    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.14);

    transition:
        all 0.45s cubic-bezier(.2, .8, .2, 1);

}

.home-search-button:hover {

    transform:
        translateY(-6px);

    box-shadow:
        0 25px 50px rgba(0, 0, 0, 0.18);

}

/* PLANE IMAGE */

.home-main2-image {

    width: 320px;

    margin-top: 10px;

    filter:
        drop-shadow(0 20px 30px rgba(0, 0, 0, 0.16));

    transition: 0.4s ease;

}

.home-main2-image:hover {

    transform:
        translateY(-8px) scale(1.02);

}

/* WHY SECTION */

.home-main3 {

    width: 100%;

    margin-top: 40px;

    padding-bottom: 80px;

}

.home-main3-head {

    margin-left: 80px;

    margin-bottom: 50px;

}

.home-main3-title {

    font-size: 64px;

    font-weight: 700;

    letter-spacing: -3px;

    color: #1D1D1F;

}

/* CARD STACK */

.home3mainbox {

    display : flex;
    justify-content: space-around;   
    align-items: center;
    height: 240px;

    margin: 0 80px;

}

/* CARDS */

.home3mainbox1,
.home3mainbox2,
.home3mainbox3 {

    

    width: 400px;

    height: 170px;

    padding: 28px;

    border-radius: 28px;

    background: white;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.06);

    transition:
        all 0.45s cubic-bezier(.2, .8, .2, 1);

}


/* HOVER */

.home3mainbox1:hover,
.home3mainbox2:hover,
.home3mainbox3:hover {

    

    transform:
        translateY(-6px);
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.10);

}



/* CARD TITLE */

.home3mainbox-title {

    font-size: 20px;

    font-weight: 700;

    margin-bottom: 12px;

    color: #1D1D1F;

}

/* CARD TEXT */

.home3mainbox-text {

    font-size: 15px;

    line-height: 1.7;

    color: #6E6E73;

}

/* ABOUT */
.about {

    margin: 80px auto;

    text-align: center;

    width: 90%;

    max-width: 1100px;

    border-radius: 32px;

    overflow: hidden;

    background: white;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.06);
        margin-bottom: 220px;

}

.about-head {

    background:linear-gradient(135deg,
            #111111,
            #1D1D1F,
            #2C2C2E);

    padding: 35px;

}
.about-title{
    color: white;

}

.about-content {

    padding: 50px;

    font-size: 17px;

    color: #4B5563;

    line-height: 1.8;

}

/* LOGIN */



.login,
.create-accountcard {

    width: 100%;

    max-width: 450px;
    margin: 80px auto;

    border-radius: 28px;

    overflow: hidden;

    background: white;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.08);

}

.nav,
.create-accountT {

    background:linear-gradient(135deg,
            #111111,
            #1D1D1F,
            #2C2C2E);

    padding: 40px;

    text-align: center;

}

.login-title,
.create-account-title {

    font-size: 36px;

    color: white;

    font-weight: 700;

}

.login-form,
.create-account-form {

    display: flex;

    flex-direction: column;

    gap: 20px;

    padding: 40px;

}

.login-form input,
.create-account-form input {

    width: 100%;

    padding: 16px 20px;

    border-radius: 16px;

    border:
        1px solid #D2D2D7;

    outline: none;

    font-size: 16px;

    transition: 0.3s ease;

}

.login-form input:focus,
.create-account-form input:focus {

    border-color: linear-gradient(135deg,
            #111111,
            #1D1D1F,
            #2C2C2E);

    box-shadow:
        0 0 0 4px rgba(0, 113, 227, 0.12);

}

.login-form button,
.create-account-button {

    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 16px;

    background: linear-gradient(135deg,
            #111111,
            #1D1D1F,
            #2C2C2E);

    color: white;

    font-size: 18px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s ease;

}

.login-form button:hover,
.create-account-button:hover {

    background:linear-gradient(135deg,
            #111111,
            #1D1D1F,
            #2C2C2E);
    transform:
        translateY(-2px);

}

.or {

    text-align: center;

    color: #86868B;

}

.create-account,
.login-link {

    text-decoration: none;
    text-align: center;

    color: rgb(109, 109, 109);

    font-weight: 600;

}

.create-account:hover,
.login-link:hover {

    text-decoration: underline;

}

/* FOOTER */

.footer {

    width: 100%;

    margin-top: 100px;

    padding: 20px 20px 20px;

    background:
        linear-gradient(180deg,
            #1D1D1F,
            #0F0F10);

    color: white;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    gap: 25px;

}

.footer-logo {

    font-size: 2.3rem;

    font-weight: 700;

}

.footer-text {

    color: #A1A1AA;

    text-align: center;

    max-width: 600px;

    line-height: 1.7;

}

.footer-links {

    display: flex;

    gap: 30px;

    flex-wrap: wrap;

}

.footer-links span {

    color: #D4D4D8;

    cursor: pointer;

    transition: 0.3s ease;

}

.footer-links span:hover {

    color: white;

}

.footer-socials {

    display: flex;

    gap: 18px;

    font-size: 1.4rem;

}

.footer-socials span {

    cursor: pointer;

    transition: 0.3s ease;

}

.footer-socials span:hover {

    transform:
        translateY(-4px);

}

.footer-copy {

    color: #71717A;

    font-size: 14px;

}

/* MOBILE */

@media(max-width:768px) {

    .homenav {

        flex-direction: column;

        height: auto;

        padding: 20px;

        gap: 15px;

    }

    .home-links {

        gap: 20px;

        flex-wrap: wrap;

        justify-content: center;

    }

    .home-subtitle {

        font-size: 32px;

    }

    .home-search-container {

        flex-direction: column;

    }

    .home-search-container input {

        border-right: none;

        border-bottom:
            1px solid #ececec;

    }

    .home-main2-image {

        width: 240px;

    }

    .home-main3-title {

        font-size: 42px;

    }

    .home3mainbox {

        display: flex;

        flex-direction: column;

        gap: 20px;

        height: auto;

    }

    .home3mainbox1,
    .home3mainbox2,
    .home3mainbox3 {

        position: relative;

        width: 100%;

        left: 0;

        top: 0;

        transform: none;

        height: auto;

    }}
/* =========================
   FLIGHTS PAGE
========================= */

.flights{

padding:40px;

max-width:1400px;

margin:auto;

display:flex;

flex-direction:column;

gap:30px;

}



/* =========================
   TOP NAVBAR
========================= */

.flightnav{

display:flex;

justify-content:space-between;

align-items:center;

background:
linear-gradient(
135deg,
#0f172a,
#111827
);

padding:35px;

border-radius:30px;

box-shadow:
0 10px 30px rgba(0,0,0,0.08);

}



/* =========================
   TITLE
========================= */

.flighth1{

font-size:52px;

font-weight:700;

color:white;

}

.flight-subtext{

font-size:18px;

color:#9ca3af;

margin-top:10px;

}



/* =========================
   SORT
========================= */

.sort-container{

display:flex;

flex-direction:column;

gap:10px;

}

.sort-label{

color:#d1d5db;

font-size:15px;

}

.price{

background:#1f2937;

color:white;

border:none;

padding:16px 24px;

border-radius:14px;

font-size:16px;

outline:none;

cursor:pointer;

min-width:220px;

transition:0.3s ease;

}

.price:hover{

background:#374151;

}



/* =========================
   SEARCH DETAILS
========================= */

.search-details{

background:white;

padding:35px;

border-radius:25px;

box-shadow:
0 10px 30px rgba(0,0,0,0.06);

}

.search-details h2{

font-size:42px;

margin-bottom:15px;

color:#111827;

word-break:break-word;

}

.search-details p{

font-size:18px;

color:#6b7280;

margin-top:8px;

}



/* =========================
   FLIGHTS LIST
========================= */

.flights-list{

display:flex;

flex-direction:column;

gap:30px;

width:100%;

}



/* =========================
   FLIGHT CARD
========================= */

.flight-card{

background:white;

padding:35px;

border-radius:30px;

box-shadow:
0 10px 30px rgba(0,0,0,0.06);

transition:0.3s ease;

border:2px solid transparent;

width:100%;

}

.flight-card:hover{

transform:translateY(-8px);

border-color:#2563eb;

box-shadow:
0 20px 40px rgba(37,99,235,0.15);

}



/* =========================
   CARD TOP
========================= */

.flight-card-top{

display:flex;

justify-content:space-between;

align-items:flex-start;

margin-bottom:35px;

gap:20px;

}

.airline-name{

font-size:42px;

font-weight:700;

color:#111827;

}

.flight-route{

font-size:18px;

margin-top:10px;

color:#6b7280;

word-break:break-word;

}

.flight-price{

font-size:52px;

font-weight:800;

color:#2563eb;

white-space:nowrap;

}



/* =========================
   CARD MIDDLE
========================= */

.flight-card-middle{

display:flex;

gap:25px;

flex-wrap:wrap;

margin-bottom:35px;

}

.flight-info-box{

background:#f3f4f6;

padding:25px;

border-radius:20px;

min-width:180px;

transition:0.3s ease;

}

.flight-info-box:hover{

background:#e5edff;

transform:translateY(-4px);

}

.flight-info-box h3{

font-size:20px;

margin-bottom:12px;

color:#111827;

}

.flight-info-box p{

font-size:18px;

color:#4b5563;

}



/* =========================
   CARD BOTTOM
========================= */

.flight-card-bottom{

display:flex;

justify-content:flex-end;

}



/* =========================
   BUTTON
========================= */

.book-flight-btn{

background:
linear-gradient(
135deg,
#2563eb,
#1d4ed8
);

color:white;

border:none;

padding:18px 40px;

border-radius:16px;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:0.3s ease;

}

.book-flight-btn:hover{

transform:scale(1.05);

box-shadow:
0 10px 20px rgba(37,99,235,0.3);

}



/* =========================
   MOBILE
========================= */

@media(max-width:768px){

.flights{

padding:20px;

}

.flightnav{

flex-direction:column;

align-items:flex-start;

gap:25px;

}

.flighth1{

font-size:36px;

}

.flight-subtext{

font-size:16px;

}

.search-details h2{

font-size:28px;

}

.search-details p{

font-size:16px;

}

.flight-card{

padding:25px;

}

.flight-card-top{

flex-direction:column;

gap:20px;

}

.airline-name{

font-size:34px;

}

.flight-price{

font-size:40px;

}

.flight-card-middle{

flex-direction:column;

}

.flight-info-box{

width:100%;

min-width:100%;

}

.price{

width:100%;

min-width:100%;

}

.book-flight-btn{

width:100%;

}

}
.autocomplete{

position:relative;

width:100%;

}


/* DROPDOWN */

.autocomplete-dropdown{

position:absolute;

top:105%;

left:0;

width:100%;

background:white;

border-radius:18px;

max-height:300px;

overflow-y:auto;

box-shadow:
0 10px 30px rgba(0,0,0,0.12);

z-index:999;

padding:10px;

}


/* ITEM */

.autocomplete-item{

padding:14px 18px;

border-radius:12px;

cursor:pointer;

font-size:16px;

transition:0.2s ease;

color:#111827;

}


/* HOVER */

.autocomplete-item:hover{

background:#eff6ff;

color:#2563eb;

}
/* OVERLAY */

.popup{

position:fixed;

top:0;

left:0;

width:100%;

height:100vh;

background:rgba(0,0,0,0.4);

display:flex;

justify-content:center;

align-items:center;

z-index:99999;

backdrop-filter:blur(4px);

}


/* BOX */

.popup-content{

background:white;

padding:35px;

border-radius:24px;

min-width:350px;

display:flex;

flex-direction:column;

gap:25px;

align-items:center;

box-shadow:
0 20px 40px rgba(0,0,0,0.15);

animation:popupShow 0.25s ease;

}


/* TEXT */

.popup-content p{

font-size:20px;

font-weight:500;

color:#111827;

text-align:center;

}


/* BUTTON */

.popup-content button{

background:
linear-gradient(
135deg,
#2563eb,
#1d4ed8
);

color:white;

border:none;

padding:14px 35px;

border-radius:14px;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:0.3s ease;

}

.popup-content button:hover{

transform:scale(1.05);

}


/* ANIMATION */

@keyframes popupShow{

from{

opacity:0;

transform:scale(0.9);

}

to{

opacity:1;

transform:scale(1);

}

}
.seat-page{

min-height:100vh;

padding:40px;

background:#f3f4f6;

}


/* TOP */

.seat-top{

text-align:center;

margin-bottom:40px;

}

.seat-top h1{

font-size:58px;

font-weight:800;

color:#111827;

margin-bottom:15px;

}

.seat-top h2{

font-size:36px;

color:#2563eb;

margin-bottom:10px;

}

.seat-top p{

font-size:18px;

color:#6b7280;

margin-top:5px;

}


/* AIRPLANE */

.airplane-wrapper{

width:700px;

margin:auto;

display:flex;

flex-direction:column;

align-items:center;

}


/* FRONT */

.plane-front{

width:220px;

height:140px;

background:
linear-gradient(
135deg,
#111827,
#1f2937
);

border-radius:
120px 120px 40px 40px;

position:relative;

margin-bottom:10px;

box-shadow:
0 20px 40px rgba(0,0,0,0.1);

}


/* GLASS */

.cockpit-glass{

width:40px;

height:18px;

background:#60a5fa;

position:absolute;

top:28px;

left:70px;

border-radius:10px;

}

.cockpit-glass2{

width:40px;

height:18px;

background:#60a5fa;

position:absolute;

top:28px;

right:70px;

border-radius:10px;

}


/* BODY */

.plane-body{

background:white;

width:420px;

padding:40px;

border-radius:40px;

box-shadow:
0 20px 50px rgba(0,0,0,0.08);

display:flex;

flex-direction:column;

gap:20px;

}


/* ROW */

.seat-row{

display:flex;

justify-content:center;

align-items:center;

}


/* AISLE */

.aisle{

width:45px;

}


/* SEAT */

.seat{

width:60px;

height:60px;

border:none;

border-radius:18px;

margin:6px;

background:#f3f4f6;

font-size:16px;

font-weight:700;

color:#111827;

cursor:pointer;

transition:0.3s ease;

box-shadow:
0 8px 20px rgba(0,0,0,0.05);

}


.seat:hover{

transform:translateY(-5px);

background:#2563eb;

color:white;

}


/* SELECTED */

.selected-seat{

background:#2563eb;

color:white;

box-shadow:
0 10px 25px rgba(37,99,235,0.35);

}


/* BOOKED */

.booked-seat{

background:#9ca3af;

color:white;

cursor:not-allowed;

}


/* BOTTOM */

.seat-bottom{

text-align:center;

margin-top:40px;

}

.seat-bottom h2{

font-size:30px;

margin-bottom:25px;

color:#111827;

}

.seat-bottom span{

color:#2563eb;

font-weight:700;

}


/* BUTTON */

.confirm-seat-btn{

background:
linear-gradient(
135deg,
#2563eb,
#1d4ed8
);

border:none;

padding:18px 45px;

border-radius:18px;

font-size:18px;

font-weight:700;

color:white;

cursor:pointer;

transition:0.3s ease;

}


.confirm-seat-btn:hover{

transform:translateY(-4px);

box-shadow:
0 12px 25px rgba(37,99,235,0.35);

}


/* MOBILE */

@media(max-width:768px){

.airplane-wrapper{

width:100%;

}

.plane-body{

width:100%;

padding:20px;

}

.seat{

width:48px;

height:48px;

font-size:13px;

}

.aisle{

width:20px;

}

}
.checkout-page{

min-height:100vh;

padding:50px;

background:#f3f4f6;

display:flex;

gap:40px;

justify-content:center;

align-items:flex-start;

}


/* LEFT */

.checkout-left{

width:500px;

background:white;

padding:40px;

border-radius:30px;

box-shadow:
0 15px 40px rgba(0,0,0,0.08);

display:flex;

flex-direction:column;

gap:20px;

}


.checkout-left h1{

font-size:40px;

color:#111827;

margin-bottom:10px;

}


/* INPUTS */

.checkout-left input{

width:100%;

padding:18px;

border:none;

border-radius:16px;

background:#f3f4f6;

font-size:17px;

outline:none;

transition:0.3s ease;

}


.checkout-left input:focus{

background:#e5edff;

}


/* POLICY */

.privacy-box{

display:flex;

align-items:flex-start;

gap:12px;

margin-top:10px;

}


.privacy-box p{

font-size:15px;

color:#6b7280;

line-height:1.5;

}


/* RIGHT */

.checkout-right{

width:450px;

background:white;

padding:40px;

border-radius:30px;

box-shadow:
0 15px 40px rgba(0,0,0,0.08);

}


.checkout-right h1{

font-size:40px;

color:#111827;

margin-bottom:25px;

}


/* SUMMARY */

.summary-box{

padding-bottom:25px;

border-bottom:
2px solid #f3f4f6;

margin-bottom:25px;

}


.summary-box h2{

font-size:32px;

color:#2563eb;

margin-bottom:15px;

}


.summary-box p{

font-size:17px;

color:#4b5563;

margin-top:8px;

}


/* PRICE */

.price-box{

display:flex;

flex-direction:column;

gap:18px;

}


.price-row{

display:flex;

justify-content:space-between;

font-size:18px;

color:#374151;

}


.total-price{

font-size:24px;

font-weight:700;

color:#111827;

margin-top:10px;

padding-top:20px;

border-top:
2px solid #f3f4f6;

}


/* BUTTON */

.payment-btn{

width:100%;

margin-top:35px;

padding:22px;

border:none;

border-radius:20px;

background:
linear-gradient(
135deg,
#2563eb,
#1d4ed8
);

color:white;

font-size:20px;

font-weight:700;

cursor:pointer;

transition:0.3s ease;

box-shadow:
0 10px 25px rgba(37,99,235,0.25);

}


.payment-btn:hover{

transform:translateY(-5px);

box-shadow:
0 20px 35px rgba(37,99,235,0.35);

background:
linear-gradient(
135deg,
#1d4ed8,
#1e40af
);

}


.payment-btn:active{

transform:scale(0.98);

}

/* MOBILE */

@media(max-width:900px){

.checkout-page{

flex-direction:column;

align-items:center;

}

.checkout-left,
.checkout-right{

width:100%;

}

}
.payment-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f3f4f6;

padding:40px;

}


.payment-card{

width:500px;

background:white;

padding:45px;

border-radius:35px;

box-shadow:
0 20px 50px rgba(0,0,0,0.08);

display:flex;

flex-direction:column;

gap:25px;

}


.payment-title{

font-size:42px;

color:#111827;

text-align:center;

}


.payment-amount{

font-size:50px;

font-weight:800;

color:#2563eb;

text-align:center;

}


/* METHODS */

.payment-methods{

display:flex;

gap:15px;

justify-content:center;

}


.payment-option{

flex:1;

padding:18px;

border-radius:18px;

background:#f3f4f6;

text-align:center;

font-weight:700;

cursor:pointer;

transition:0.3s ease;

}


.active-payment{

background:#2563eb;

color:white;

box-shadow:
0 10px 25px rgba(37,99,235,0.25);

}


/* INPUT */

.payment-input{

width:100%;

padding:18px;

border:none;

border-radius:18px;

background:#f3f4f6;

font-size:16px;

outline:none;

}


.card-row{

display:flex;

gap:15px;

}


/* BUTTON */

.pay-now-btn{

margin-top:10px;

padding:20px;

border:none;

border-radius:20px;

background:
linear-gradient(
135deg,
#2563eb,
#1d4ed8
);

color:white;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:0.3s ease;

}


.pay-now-btn:hover{

transform:translateY(-5px);

box-shadow:
0 15px 30px rgba(37,99,235,0.3);

}